;; Copyright © 2016, JUXT LTD.

;; Aero configuration for Edge

{:edge/web-listener
 #profile
  {:dev {:edge.web-listener/vhost :*
         :edge.web-listener/port 3000}
   :prod {:edge.web-listener/vhost :*
          :edge.web-listener/port 8080}}

 :ig/system
 #merge
  [{:edge/web-listener
    #merge
     [#ref [:edge/web-listener]
      {;:edge.phonebook/db #ig/ref :edge.phonebook/db
       ;:edge.graphql/schema #ig/ref :edge.graphql/schema
       ;:edge/event-bus #ig/ref :edge/event-bus
       ;:edge/executor #ig/ref :edge/executor

       ;:edge.web-listener/index :edge.doc.routes/doc-index
       ;:edge.web-listener/routes
       ;[["/doc" #ig/ref :edge.doc/routes]
       ; ["/phonebook" #ig/ref :edge.phonebook/routes]
       ; ["/phonebook-app" #ig/ref :edge.phonebook-app/routes]]

     ;; To ensure that resources are built before being served
      ;; :edge.kick/builder #ig/ref :edge.kick/builder
}];; An manifold bus to propagate events through the system
    ;:edge/event-bus nil

   ;; Restartable executor - used to control threading in manifold
    ;:edge/executor nil

   ;; TODO: Move to a module
   ; :edge.graphql/schema {:edge.phonebook/db #ig/ref :edge.phonebook/db
   ;                       :edge/event-bus #ig/ref :edge/event-bus
   ;                       :edge/executor #ig/ref :edge/executor}

   ;; Asciidoctor for documentation
   ; :edge.asciidoctor/engine nil

   ;; Modules
   ; :edge.doc/routes {:edge.asciidoctor/engine #ig/ref :edge.asciidoctor/engine}
   ; :edge.phonebook/routes {:edge.phonebook/db #ig/ref :edge.phonebook/db
    ;                        :edge.web-listener/port #ref [:edge/web-listener :edge.web-listener/port]}

   ; :edge.phonebook-app/routes {:edge.phonebook/db #ig/ref :edge.phonebook/db}
}]}

